body {
    font-size:1em;
    font-family: sans-serif;
    margin: 0px;
    background-color: black;
}

#network {
    width: 79%;
    height: 800px;
    float:left;
    border-top: 1px solid #232200;
}

#sidebar {
    width: 20%;
    float:right;
    color: white;
    background-color: black;
    box-shadow: 0px 0px 20px #111;
}

#sidebar > * {
    width: 100%;
    border-top: 1px solid #232200;
    color: white;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    display: inline-block;
}

#sidebar button, #sidebar input {
    height: 3rem;
}

#sidebar *:nth-child(odd) {
    background-color: #111;
}

#sidebar ::placeholder {
    color:#aaa;
}

#sidebar *:nth-child(even) {
    background-color: #000;
}

#sidebar button:hover, #sidebar input:hover, #sidebar .custom-file:hover {
    background-color: #563d7c;
}

#sidebar h1 {
    font-size: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: center;
}

#sidebar h2 {
    font-size: 1.2rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    text-align: center;
}

button {
    border: none;
    color: white;
    background-color:black;
    font-size: 1.2rem;
    margin:0;
    padding:0;
}

input[type="number"] {
    background-color: #333;
    color: white;
    border: none;
    text-align: center;
    font-size: 1.2rem;
}

.custom-file {
    top:0;
    right:0;
    position: relative;
    display: inline-block;
    height: 3rem;
}


.custom-file input[type="file"] {
    position: relative;
    top:0;
    left:0;
    right:0;
    z-index:0;
    opacity: 0;
    width: 100%;
    height: 100% !important;
    margin:0;
    padding:0;
}

.custom-file span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 3rem;
    pointer-events: none;
    background-color: transparent !important;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.dialog {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 30%;
    min-width:500px;
    padding: 10px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 10px #111;
}

.dialog > div {
    height: 3rem;
}

.hidden {
    visibility:hidden;
}

.dialog > div {
  width: 100%;
}

.dialog button {
    padding: 0.75rem;
    font-size: 1.5rem;
}

.dialog button.cancel {
    background-color: #a23a30;
}

.dialog button.save {
    background-color: #0ea92f;
}

.label-input {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}

.label-input > * {
  flex: auto;
  transition: width 0.7s ease-out;
}

.label-input label {
  display: inline-block;
  background-color: #333;
  font-size: 1.5rem;
  padding: 0.75rem;
}

.label-input input {
  display: inline-block;
  color: white;
  background-color: #111;
  font-size: 1.5rem;
  padding: 0.75rem;
  border: none;
  min-width: 0px;
}

.label-input span {
  display: inline-block;
  font-size: 1.5rem;
  padding: 0.75rem;
  background-color: #222;
}

.label-input button {
    font-size: 1.5rem;
    padding: 0.75rem;
}
