body {
    font-size:1em;
    font-family: sans-serif;
    margin: 0px;
    background-color: black;
}

#network {
    width: 79%;
    height: 800px;
    float:left;
    border-top: 1px solid #232200;
}

#node-overlay, #edge-overlay {
    position: absolute;
    top: 10%;
    left: 35%;
    width: 30%;
    min-width:500px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.hidden {
    visibility:hidden;
}

.smallin {
    width: 3rem;
}

#sidebar {
    width: 20%;
    float:right;
    color: white;
    background-color: black;
    box-shadow: -1px -2px 3px #111;
}

#sidebar > * {
    width: 100%;
    border-top: 1px solid #232200;
    color: white;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    display: inline-block;
}

#sidebar *:nth-child(odd) {
    background-color: #111;
}

#sidebar ::placeholder {
    color:#aaa;
}

#sidebar *:nth-child(even) {
    background-color: #000;
}

#sidebar button:hover, #sidebar input:hover, #sidebar .custom-file:hover {
    background-color: #563d7c;
}

#sidebar h1 {
    font-size: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: center;
}

#sidebar h2 {
    font-size: 1.2rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    text-align: center;
}

#sidebar button {
    border-bottom: none;
    border-left: none;
    border-right: none;
    color: white;
    height: 3rem;
    font-size: 1.2rem;
    margin:0;
    padding:0;
}

#sidebar input[type="number"] {
    border-bottom: none;
    border-left: none;
    border-right: none;
    height: 3rem;
    text-align: center;
    font-size: 1.2rem;
}

.custom-file {
    top:0;
    right:0;
    position: relative;
    display: inline-block;
    height: 3rem;
}


.custom-file input[type="file"] {
    position: relative;
    top:0;
    left:0;
    right:0;
    z-index:0;
    opacity: 0;
    width: 100%;
    height: 100% !important;
    margin:0;
    padding:0;
}

.custom-file span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 3rem;
    pointer-events: none;
    background-color: transparent !important;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.file-action .custom-file {
    width: 50% !important;
    float: left;
}

.file-action button {
    width: 50% !important;
    float: right;
    border: none;
}
